body {
  margin: 0;
  padding: 0;
}

.inner {
  max-width: 987px;
  margin: 0 auto;
}

.header {
  height: 48px;
  background-color: #76e4eb;
}

.hero {
  height: 420px;
  background-color: #315fa4;
}

.columns-container {
  display: block;
}

.column {
  background-color: #ca1dcd;
  height: 220px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer {
  background-color: #c01887;
  height: 162px;
}

.column2 {
  background-color: #ca1dcd;
  height: 460px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.column2:nth-child(2) {
  height: 220px;
}
@media screen and (min-width: 768px) {
  .columns-container {
    overflow: hidden;
    white-space: nowrap;
  }

  .column {
    display: inline-block;
    width: 31.5%;
    margin-right: 1.25em;
  }

  .column:nth-child(3) {
    margin-right: 0%;
    float: right;
  }

  .column2 {
    display: inline-block;
    height: 220px;
    margin-right: 20px;
  }

  .column2:nth-child(1) {
    width: 40.6875em;
  }

  .column2:nth-child(2) {
    width: 19.6875em;
  }
}
